@model ForgotPasswordModel
@{
    ViewData["Title"] = "ForgotPassword";
}

<h1>Forgot password?</h1>

@if (ViewBag.EmailSent == true)
{
    <div class="alert alert-success">
        <p>If you are registered with us, we have sent you an email to verify your account. Please check it</p>
    </div>
}
else{
    <div>
        <form asp-action="ForgotPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Send new password" class="btn btn-primary" />
            </div>
        </form>
    </div>
}